.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar myProfile";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  margin: auto;
  /* grid-gap: 10px; */
}




