.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}
.dialogItems {
   padding: 10px;
}

.dialogItem {
  
}

.dialogItem a {
   text-decoration: none;
   color: rgb(163, 3, 142);
}

.dialogItem a .activeDialog {
   color: gold;
}

.usersDialogs {
   padding: 10px;
}

.usersDialogs .message {
   padding: 10px;
}